.bgf {
    display: none;
}

.well {font-family: 'jazeera',FontAwesome;font-size: 16px!important;padding: 15px!important;text-align: center!important;width: 101%;color: #32324a;white-space: nowrap;border-radius: 14px 14px 14px 14px;}
.border {shadow:1px 1px 1px 1px ridge rgb(137, 137, 137); box-shadow:1px 1px 1px 1px rgb(137, 137, 137) }
.fitimg.fl.u-pic  {box-shadow: 0 1px 1px -1px rgb(137, 137, 137), 0 0 5px rgb(137, 137, 137);border-radius: 5px 5px 5px 5px;;}
ul.nav.nav-tabs.fl li a {      color: #32324a;  box-shadow: inset 0 3px 3px rgb(137, 137, 137), 0 0 5px rgb(137, 137, 137);font-family: 'jazeera',FontAwesome;font-size: 12px!important;padding: 5px!important;text-align: center!important;width: 100%;}
ul.nav.nav-tabs.fl li {border-bottom: 2px solid rgb(138, 137, 137);width: 33.3%;}
textarea.fl.filw.corner.tbox { 
    box-shadow:inset 0 0px 0px rgb(137, 137, 137) 0 0 7px rgb(137, 137, 137);border-radius: 7px;padding-left: 5px;}
label.label.tc.border.btn.fl {border-radius: 41px 21px 41px 21px;}
.label.tc.border.btn.fl, .label.tc.border.btn.fl {border: 1px solid #32324a;font-family: 'jazeera',FontAwesome;border-radius: 4px 4px 4px 4px;}
label.fl.nosel.label.pnhead {font-family: 'jazeera',FontAwesome;width: 81%;text-align: -webkit-center;background-color: #32324a;color: white;border-radius:13px 13px 13px 13px;}
.fr.borderg a {color: #32324a;font-size: 12px!important;}
.fr.borderg {color: #32324a;font-size: 13px!important;border: 1px solid #32324a;font-family: 'jazeera',FontAwesome;border-radius: 4px 4px 4px 4px;margin-top: 1px;}
label.label-primary {border-radius: px 31px 31px 31px;}
label.label-primary {border-radius: px 31px 31px 31px;}

button.btn.fr.btn-success.fa.fa-refresh {
padding: 4px 5px;
border: 1px solid transparent;
margin-top: -3px;
border-radius: 50px;
}
.border.corner, .border.corner {box-shadow: inset 0 0px 0px rgb(137, 137, 137), 0 0 4px rgb(137, 137, 137);border: 2px solid #32324A;as:13px;}
.label-primary, .btn-primary, .ae.fa.label.fa-commenting-o.label-warning, .ae.fa.chats.label.fa-comment.label-warning {border: 1px solid #ffffff;border-radius: 31px 31px 31px 31px;as:31px;}
.checkbox {color: rgb(137, 137, 137);}

font {
    color: #fff !important;
    font-size: 18px !important;
}
body.bg {
    background-color: rgb(245 245 245) !important;
}

@-webkit-keyframes swoopOut {
    50% {
        position:absolute;
        left:25px;
        visibility:hidden;
        }
        50%
        { 
            position:absolute;
            left:75px;
            } 
    
}
div.hand.corner {
    text-align: center;
    border: 1px solid #000;
    left: 15px;
    transform: translate(16px,6px);
    width: 90%;
    border-radius: 10px;
    box-shadow: 4px 4px 0 #000;
    background: linear-gradient( 
90deg,#fff 0,#fff 10%,#fff 51%,#fff 89%,#fff 100%) !important;
    -webkit-animation: swoopOut 10s ease 1 forwards;
}
button.border.btn.mini.btn-success.hand.fl {
    padding: 10px !important;
    width: 25% !important;
    margin-left: 210px !important;
    margin-top: -46px !important;
    margin-bottom: 4px !important;
    border-radius: 4px !important;
}


#mic .mic {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #dcdcdc;
    color: #000;
    display: inline-block;
    border: 3px solid #989594;
}
label.fl.nosel.label.pnhead {
    color: #fff;
    font-size: 15.8px!important;
    padding: 8px;
    width: 85%;
    display: block;
    height: 35px;
    background-image: repeating-linear-gradient( 
45deg ,rgba(0,0,0,.8),#212529 100px,transparent 0,transparent 200px),repeating-linear-gradient( 
-45deg ,rgba(0,0,0,.9),#212529 100px,transparent 0,#f8f9fa 200px);
    background-color: #bfc0c1!important;
    border-radius: 10px;
    border: 1px solid #212529;
    margin-top: -5px;
    margin-bottom: 4px;
    font-family: jazeera,FontAwesome;
}

div#d0,.bg.mini.fl,label.fl.nosel.label.pnhead {
    width: 99%;
    margin-left: 2px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665503760.gif)!important;
    font-family: Almarai,sans-serif;
}
.
{
    background: repeating-linear-gradient( 
45deg ,rgba(255,255,255,0.8),rgb(255,255,255) 100px,#ffffffb0 0px,#fff6f699 200px ),repeating-linear-gradient( 
-45deg ,rgba(255,255,255,0.5),rgba(255,255,255,0.93) 100px,#b3adadd1 0px,#ffffffe6 200px )!important;
}
span.fa.fa-volume-up {
    background: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding: 5.2px;
    display: inline-block;
    float: right;
    margin-right: 2.2px;
    border: 3px solid;
    box-shadow: 0 0 5px 0 #5d5d5d;
    cursor: pointer;
    font-size: 32px!important;
    margin-top: 0px !important;
    margin-inline-start: 3px;
    background-image: url(https://chatjawaly.net/sico/1640665503760.gif);
}

div#mic {
    width: 99%;
    margin-left: 2px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
    font-family: Almarai,sans-serif;
}
a.label.bg.fl {
    width: 100%;
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
    font-family: Almarai,sans-serif;
}
.label.nosel.ninr.fl.uzr.label.bg {
    width: 99%;
    margin-left: 2px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
    font-family: Almarai,sans-serif;
}

button.btn.btn-primary {
   /* width: 100%;*/
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
    /*font-family: Almarai,sans-serif;*/
}
button.btn.btn-primary {
    color: #fff;
    border: 1px solid #f9f9f9!important;
    background-color: #656571!important;
}

button.ae.fa.label.label-primary.fa-user, button.ae.fa.chats.label.label-primary.fa-comment, button#brooms, button.ae.fa.label.label-primary.fa-commenting, button.ae.label.label-primary.fa.fa-gear,span.corner.fa.fa-user.label.label-primary.fr.uc.fa-microphone {
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.giff)!important;
}
.label.label-primary, select#zoom {
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
}
label.btn.btn-primary.u-nickc.fr.fa.fa-save, .modal-header.label-primary, .fl.btn.btn-primary.dots.roomh.border {
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
}
label.label.label-danger.border.nosel.fa.fa-close.fr {
    display: none;
}
label.label.tc.border.btn.fl {
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
}
button.border.btn.mini.btn-success.hand.fl {
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
}
.fl.flex-grow-1.break {
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
}
.fl.u-msg {
    color: #911c1c;
    margin-top: 0px;
}
.fl.mini.u-msg {
    color: #140000 !important;
    margin-top: 15px !important;
    margin-left: 51px;
}
button.blike.btn.minix.btn-danger.fa.fa-heart, button.breply.btn.minix.btn-info.fa.fa-comments {
    margin-left: 0px;
    color: #fff;
    border: 1px solid #f9f9f9!important;
    border-radius: 10px;
    background-color: #656571!important;
    background-image: url(https://chatjawaly.net/sico/1640665449105.gif)!important;
}
